html {
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 8rem;
  position: fixed;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  margin: 0;
  text-align: left;
  color: #000;
  z-index: 10;
  pointer-events: none;
}

.overlay-title {
  position: fixed;
  top: 32px;        /* top-left */
  left: 32px;
  font-family: sans-serif;
  font-size: 6rem;  /* BIG */
  color: black;
  z-index: 10;
  pointer-events: none;  /* doesn't block mouse */
  margin: 0;
}